{% extends "base.html" %}

{% load product_tags %}

{% block content %}
  <div class="drawer drawer-end flex-1 flex flex-col">
    <input id="filter-drawer" type="checkbox" class="drawer-toggle" />
    <div class="drawer-content flex-1 flex flex-col pb-6">
      {% include "core/partials/quick_filters.html" %}

      <div id="product-list"
           class="flex-1"
           x-data="{ viewMode: localStorage.getItem('viewMode') || 'list' }"
           @view-changed.window="viewMode = $event.detail.view"
           :class="viewMode === 'grid' ? 'grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-4' : 'flex flex-col gap-4'">
        {% include "core/partials/product_list_results.html" %}

      </div>
    </div>
    {% include "core/partials/filter_drawer.html" %}

  </div>
{% endblock content %}
