gunicorn
whitenoise
psycopg
requests
Pillow
django>=6.0
django-filter
django-simple-history
django-treebeard
django-nested-admin
django-environ
django-htmx
django-widget-tweaks
celery
playwright
beautifulsoup4
lxml
urllib3
curl_cffi
django-celery-results
django-celery-beat
django-components
strawberry-graphql-django
strawberry-graphql
extruct
w3lib
python-dotenv
