{% load component_tags %}

<div class="drawer drawer-end flex-1 flex flex-col">
  <input id="filter-drawer" type="checkbox" class="drawer-toggle" />
  <div class="drawer-content flex-1 flex flex-col pb-6">
    {# Toolbar #}
    {% component "list.toolbar" filter_obj=filter query_params=query_params %}{% endcomponent %}
    {# results #}
    {% component "list.results" page_obj=page_obj per_page=per_page query_params=query_params %}{% endcomponent %}
  </div>
  {# Drawer Side #}
  {% component "list.filters.drawer" filter_obj=filter %}{% endcomponent %}
</div>
