DJANGO_SECRET_KEY=change-me
DJANGO_ENV=development
DJANGO_DEBUG=True
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1
CATALOG_PRODUCTS_BROWSER_CACHE_SECONDS=300
CATALOG_PRODUCTS_EDGE_CACHE_SECONDS=21600
DATABASE_URL=sqlite:///db.sqlite3
CELERY_BROKER_URL=amqp://guest:guest@localhost:5672//
